.place__title{
    max-width: 460px;
    width: 100%;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    color: #FFFFFF;
    align-self: end;
    box-sizing: border-box;
}

@media screen and (max-width:769px){
    .place__title{
        font-size: 42px;
        line-height: 1.09;
    }
}
@media screen and (max-width:425px){
    .place__title{
        padding:0 16px;
        font-size: 32px;
        line-height: 1.09;
    }
}