.photo-grid__list{
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 16px;
}

@media screen and (max-width: 1024px){
    .photo-grid__list{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 14px;
    }
}
@media screen and (max-width: 768px){
    .photo-grid__list{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 16px;
    }
}
@media screen and(max-width: 425px){
    .photo-grid__list{
    grid-template-columns: auto;
    grid-gap: 12px;
    }
}