.container__title{
    max-width: 322px;
    width: 100%;
    margin:0;
    padding:12px 0 18px 30px;
    font-family: "Arial", helvetica, san-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.08;
    color: #FFFFFF;
    z-index:3;
    box-sizing: border-box;
  }

  @media screen and (max-width:769px){
    .container__title{
      font-size: 24px;
      line-height: 26px;
      padding:8px 0 12px 24px;
    }
  }
  @media screen and (max-width:425px){
    .container__title{
      max-width: 256px;
      padding:8px 0 2px 16px;
    }
  }