.place__image{
    background-image: url(../../../images/__imagekarelia.jpg);
    max-width: 460px;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0;
}

@media screen and (max-width:1025px){
    .place__image{
        max-width: 440px;
    }
}
@media screen and (max-width:769px){
    .place__image{
        max-width: 340px;
        background-size: contain;
    }
}
