.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  max-width: 360px;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

@media screen and (max-width: 769px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (max-width: 425px) {
  .cover__subtitle {
    margin-top: 16px;
    text-indent: 15px;
    max-width: 288px;
  }
}
