@import url(./__logo/header__logo.css);
@import url(./__logo/header__logo-image.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_ative/header__lang-link_active.css);

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px;
    margin: 0 auto;
}

@media screen and (max-width:1025px) {
    .header{
        padding: 28px 48px 24px;
    }
}
@media screen and (max-width:769px){
    .header{
        padding: 28px 24px 24px;
    }
}

@media screen and (max-width:425px){
    .header{
        padding: 16px 16px 24px;
    }
}
