.footer__links-items{
    margin:0;
    padding:0;
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: min-content;
    grid-column-gap: 18px;
    align-items: end;
}


@media screen and (max-width:767px){
    .footer__links-items{
        grid-template-columns:  max-content;
        grid-row-gap: 32px;
    }
}