.lead__image {
  max-height: 100%;
  object-fit: cover;
  padding: 32px 0 0;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}
@media screen and (max-width: 425px) {
  .lead__image {
    padding: 24px 0 0;
  }
}
