@import url(./__link/cover__link.css);
@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  max-height: 740px;
  height: 100vh;
  display: block;
  position: relative;
}
@media screen and (max-width: 1025px) {
  .cover {
    max-height: 640px;
  }
}
@media screen and (max-width: 888px) {
  .cover {
    max-height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    max-height: 480px;
  }
}
@media screen and (max-width: 605px) {
  .cover {
    max-height: 400px;
  }
}
@media screen and (max-width: 425px) {
  .cover {
    max-height: 300px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    max-height: 200px;
  }
}
