.website__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #ffffff;
}
.website__link:hover {
  opacity: 0.8;
  transition: ease-in 0.2s;
}

@media screen and (max-width: 767px) {
  .website__link {
    display: none;
  }
}
