@import url(./__duration/container__duration.css);
@import url(./__icon-play/container__icon-play.css);
@import url(./__item/container__item.css);
@import url(./__link/container__link.css);
@import url(./__item-bg/container__item-bg.css);
@import url(./__subtitle/container__subtitle.css);
@import url(./__title/container__title.css); 

.container{ 
    max-width:583px;
    width:100%;
    max-height:323px;
    height:100vh;  
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    position:relative;
    
  }

  @media screen and (max-width:1025px){
    .container{
    max-height:288px;
    max-width: 456px;
    height:100vh;
    }
  }

  @media screen and (max-width:769px){
    .container{
    max-width: 352px;
    max-height:200px;
    height:100vh;
    }
  }
  @media screen and (max-width:425px){
    .container{
    max-width: 288px;
    max-height:192px;
    height:100vh;
    }
  }