@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  max-width: 984px;
  /*padding: 0 148px 0;*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, max-content));
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  box-sizing: content-box;
}

@media screen and (max-width: 1025px) {
  .place {
    max-width: 1024px;
    grid-column-gap: 32px;
    grid-template-rows: repeat(2, min-content);
    padding: 0 48px 0;
    box-sizing: border-box;
  }
}
@media (max-width: 769px) {
  .place {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 28px;
    padding: 0 24px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 430px) {
  .place {
    grid-template-columns: auto;
    grid-row-gap: 32px;
    padding: 0;
    box-sizing: border-box;
  }
}
